body {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: pink;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}
